.container{
    display: flex;
}
.left{
    width: 250px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}
.left-tips{
    position: relative;
    top: 10px;
    font-weight: bold;
    color:beige;
}
.left-topic{
    font-weight: bold;
    color:rgba(172, 130, 75, 0.911);
    font-size: 40px;
}
.right{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 45px;
    color:blanchedalmond;
}
.score-box{
    width: 200px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}
.score{
    font-weight: bold;
    font-size: 25px;
}
#game{
    width: 500px;
    height: 530px;
    background-color: #BBADA0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 0.5em;
    margin: 100px auto;
}
#box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 0.5em;
}
#box div{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    background-color: #CDC1B4;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    color:rgba(172, 141, 101, 0.911);
}